<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>전체 주문 목록</title>
</head>
<body>

<h2 style="text-align: center;">전체 주문 목록</h2>
<table border="1">
  <tr>
    <td>주문번호</td>
    <td>주문일자</td>
    <td>회원번호</td>
    <td>이름</td>
    <td>상품명</td>
    <td>상품가격</td>
    <td>상품개수</td>
    <td>주문총액</td>
    <!--        <td>email</td>-->
    <!--        <td>회원가입일자</td>-->
    <!--        <td>최근 회원 정보 수정일</td>-->
  </tr>
  <!--    <c:forEach items="${members}">-->
  <tbody>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.reg_time}">시간</td>
    <td th:text="${order.memberInfo.code}">회원번호</td>
    <td th:text="${order.memberInfo.name}">이름</td>
    <td th:text="${order.getTotalPrice()}">총액</td>

    <!--            <td><c:out value="${mb.useremail}"></c:out></td>-->
    <!--            <td><c:out value="${mb.regdate}"></c:out></td>-->
    <!--            <td><c:out value="${mb.updatedate}"></c:out></td>-->
  </tr>
  </tbody>
</table>
<input type="button" value="메인으로" class="btn" onclick="location.href='/admin'">

</body>
</html>